.body_clip {
  background-image: linear-gradient(bottom, #555 50%, white 50%);
  background-image: -o-linear-gradient(bottom, #555 50%, white 50%);
  background-image: -moz-linear-gradient(bottom, #555 50%, white 50%);
  background-image: -webkit-linear-gradient(bottom, #555 50%, white 50%);
}

.card_header {
  position: absolute;
  margin-left: 2%;
  /* z-index: 3; */
}

.card_body {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
  overflow: hidden;
}

.clip_background1 {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.7));
}

.column_clip {
  height: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 240, 255);
  clip-path: polygon(100% 0%, 100% 90%, 0 100%, 0 10%);
}

.card_column {
  width: 28%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.card {
  vertical-align: middle;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 0%, 100%);
  line-height: 2;
  border-radius: 10px;
  margin: 0.5rem;
  transition: transform 0.2s ease-out;
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.66);
}

.card figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  margin-top: -60px;
  position: relative; 
}
.card figure:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 1rem solid hsl(250, 85%, 97%);
  box-shadow: 0 -1px 5px hsla(0, 0%, 0%, 0.5);
}

.card div {
  text-align: center;
  margin: 2rem;
}
.card div p {
  color: hsl(250, 5%, 45%);
  font-weight: 400;
  font-style: italic;
  margin: 1rem 0 3rem;
  font-family: "Noticia Text", serif;
  position: relative;
  z-index: 5;
}
.card div h1 {
  color: hsl(260, 5%, 55%);
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
