@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
  
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.page_body {
  margin-left: 200px;
  margin-right: 80px;
  padding: 1px 16px;
}

.page_container {
  width: 100vw;
  min-height: calc(100% - 80px);
  overflow-x: hidden;
  position: relative;
  padding-bottom: 65px;
  background-color: white;
}

.home_body {
  width: 100%;
  min-height: calc(100vh - 75px - 80px);
  text-align: center;
  background-color: deepskyblue;
}

/* styling for old navigation bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: rgb(161, 161, 161);
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 1px 0px 10px;
    z-index: 10;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: rgb(117, 117, 117);
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/* Nav Bar Styles */
  .nav_bar {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 0 auto;
    background-color: deepskyblue;
  }

  .nav_stack {
    width: 100%;
    position: absolute;
  }

  .nav_logo {
    margin: 10px;
    float: left;  
  }

  .nav_logo h2 {
    color: white;
  }

  .nav_links {
    width: 40%;
    min-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
  }

  .n_link {
    height: 50px;
    width: 25%;
    margin: 0;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .nav_button {
    width: 100px;
    height: 30px;
    margin: 10px 10px;
    background-color: white;
    cursor: pointer;    
    border: solid;
    border-radius: 15px;
    transition: background-color 0.1s, color 0.1s;
  }

  .nav_button:hover {
    border: solid;
    border-color: black;
    background-color: deepskyblue;
    color: white;

  }

  .nav_button_home {
    color: #555;
    border-color: #555;
    background-color: white;
    transition: background-color 0.1s, color 0.1s;
  }

  .nav_button_home:hover {
    background-color: #555;
    color: white;
  }

  .nav_button_others {
    color: white;
    border-color: white;
    background-color: deepskyblue;
    transition: background-color 0.1s, color 0.1s;
  }

  .nav_button_others:hover {
    background-color: white;
    color: deepskyblue;
  }

/* table formatting */
  .table_wrapper {
    margin: 0 auto;
  }

  .person_table {
    border: 1px solid black;
    border-collapse: collapse;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px #AAAAAA;
    margin: 30px auto;
  }


  th.person_header {
    background-color: deepskyblue;
    color: white;
    text-align: center;
    padding: 8px 15px 8px 15px;
    white-space: nowrap;
  }

  td.person_data {
    text-align: center;
    white-space: nowrap;
    padding: 8px 5px;
  }

  tr.person_row:nth-child(even) {
    background-color: rgb(231, 249, 255);
    transition: background-color 0.5s;
  }

  tr.person_row:nth-child(odd) {
    background-color: white;
    transition: background-color 0.5s;
  }

  tr.person_row:hover {
    background-color: rgb(117, 221, 255);
  }

/* Footer Styles */
  .footer {
    width: 100vw;
    height: 45px;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #555;
    color: #222;
  }

  .footer_link:visited {
    color: #222;
  }

  .footer_note {
    padding-top: 3px;
  }
